html, body {
    height: 100%; /* Задаем высоту для всей страницы */
    margin: 0; /* Убираем отступы */
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1; /* Это заставит основной контент занимать оставшееся пространство */
}

footer {
    margin-top: auto; /* Выравнивает футер снизу */
}
